<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="TenantActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="TenantActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="TenantActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="LockerActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="LockerActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="LockerActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="ForkActorServiceReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ForkActorServiceReplicatorEndpoint" />
    <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
  </Section>
  <Section Name="ForkActorServiceReplicatorSecurityConfig">
    <Parameter Name="CredentialType" Value="None" />
  </Section>
  <Section Name="ForkActorAppConfigSection">
    <Parameter Name="VstsTokenEndpoint" Value="https://app.vssps.visualstudio.com/oauth2/token" />
    <Parameter Name="KeyVaultUrl" Value="https://{tba}.vault.azure.net/" />
    <Parameter Name="KeyVaultClientId" Value="to_be_added_during_deploy" />
    <Parameter Name="KeyVaultClientSecret" Value="to_be_added_during_deploy" />
    <Parameter Name="VstsAppSecret" Value="to_be_added_during_deploy" />
    <Parameter Name="VstsOAuthCallbackUrl" Value="to_be_added_during_deploy" />
    <Parameter Name="VstsCollectionId" Value="to_be_added_during_deploy" />
    <Parameter Name="VstsTargetProjectId" Value="to_be_added_during_deploy" />
    <Parameter Name="VstsApiBaseUrl" Value="https://{TBA}.visualstudio.com/_apis" />
  </Section>
  <!-- The content will be generated during build -->
</Settings>